/build/
/prolog/a.txt
/prolog/debug_rules.pl
debug_prolog.pl
/.vscode/
/simpleView/.antlr
/antlr/javaParser/.antlr
/antlr/javaHeaderParser/.antlr
antlr-4.13.1-complete.jar
/a.txt
/.a.txt.swp
b.txt
.b.txt.swp
bb.txt
.bb.txt.swp
c.txt
.c.txt.swp
d.txt
.d.txt.swp
e.txt
.e.txt.swp
f.txt
.f.txt.swp
g.txt
.g.txt.swp