94
android.accounts
android.animation
android.appwidget
android.content
android.content.integrity
android.content.om
android.content.pm
android.content.pm.verify.domain
android.content.res
android.database
android.database.sqlite
android.graphics
android.graphics.animation
android.graphics.drawable
android.hardware
android.service.autofill
android.transition
android.util
android.util.apk
android.util.jar
android.util.proto
android.view.accessibility
android.view.animation
android.view.autofill
android.view.contentcapture
android.view.inputmethod
android.view.menu
android.view.translation
android.widget
com.android.internal.widget
com.android.server.accessibility
com.android.server.accessibility.gestures
com.android.server.accessibility.magnification
com.android.server.accessibility.utils
com.android.server.accounts
com.android.server.adb
com.android.server.alarm
com.android.server.audio
com.android.server.biometrics
com.android.server.biometrics.log
com.android.server.biometrics.sensors
com.android.server.biometrics.sensors.face
com.android.server.biometrics.sensors.face.aidl
com.android.server.biometrics.sensors.face.hidl
com.android.server.biometrics.sensors.fingerprint
com.android.server.biometrics.sensors.fingerprint.aidl
com.android.server.biometrics.sensors.fingerprint.hidl
com.android.server.biometrics.sensors.iris
com.android.server.camera
java.awt.font
java.beans
java.io
java.lang
java.lang.annotation
java.lang.constant
java.lang.invoke
java.lang.ref
java.lang.reflect
java.lang.runtime
java.math
java.net
java.nio
java.nio.channels
java.nio.channels.spi
java.nio.charset
java.nio.charset.spi
java.nio.file
java.nio.file.attribute
java.nio.file.spi
java.security
java.security.acl
java.security.cert
java.security.interfaces
java.security.spec
java.sql
java.text
java.time
java.time.chrono
java.time.format
java.time.temporal
java.time.zone
java.util
java.util.concurrent
java.util.concurrent.atomic
java.util.concurrent.locks
java.util.function
java.util.jar
java.util.logging
java.util.prefs
java.util.regex
java.util.stream
java.util.zip
javax.annotation.meta
javax.crypto
